# Veritabanı
DATABASE_URL="mysql://avnadmin:AVNS_rMMUUdaGM59nxVWW-LQ@mysql-116823e-dilarabuse530-88b7.b.aivencloud.com:14154/defaultdb?ssl-mode=REQUIRED"

# JWT
JWT_SECRET="guclu_sifre"
JWT_EXPIRES_IN="7d"

# Email (nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="fatmacelik0405@gmail.com"
SMTP_PASS="vzrn mrtb dubj vvrh"
SMTP_FROM="Fısıltı <fatmacelik0405@gmail.com>"

# Sunucu
PORT=3000
NODE_ENV="development"
